*{
    margin: 0;
    padding: 0;
}

:root{
    --main-shade: white;
    --secondary-shade:rgb(235, 242, 245);
    --highlight-shade:rgb(245, 199, 108);
    --text-color: black;
    --icon-color:white;
}

body{
    font-family: sans-serif;
    background-color: var(--secondary-shade);
    min-height: 100vh;
    width: 100%;
}

/* reusable styles */
.list-item button, .entry-section button{
    background-color: var(--highlight-shade);
}
button i{
    font-size: 15px;
}
.completed span{
    text-decoration: line-through;
    color: red;
}
/*  */
.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 3rem;
}
.container{
    max-height: 50rem;
    width: 50%;
    background-color: var(--main-shade);
    padding: 2rem;
    border-radius: 10px;
    color: var(--text-color);
    overflow: hidden;
}
.container h1{
    margin: 1rem;
}
.entry-section{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}
.entry-section input , .entry-section button,.list-item button{
    padding: .5rem 1rem ;
    border: none;
    border-radius: 5px;
}
.entry-section input{
    flex: 2 1 auto;
    color: var(--text-color);
    background-color: var(--secondary-shade);
}

/*  */
.list-section{
    max-height: 45rem;
    width: 100%;
    padding-right: 2rem;
    margin-top: 1rem;
    overflow: scroll;
}
.list-item{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}
.list-item p{
    margin: .5rem 1rem;
    flex: 2 1 auto;
    display: grid;
    grid-template-columns: 10% repeat(3,1fr);
}
.js-checkBox{
    cursor: pointer;
    accent-color: var(--highlight-shade);
}
.list-item button{
    transform: scaleX(1.03);
}
.js-checkBox{
    justify-self: start;
    width: 50%;
}

/* mode-switch */

.left-section{
    height: 100%;
    width: 5%;
    position: absolute;
    top: 3%;
    left: 3%;
}
.mode-switch{
    background-color: var(--main-shade);
    width: 100%;
    height: 2rem;
    padding: .8rem;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mode-switch button{
    padding: .8rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: all .5s ease;
}
.mode-switch button:first-child{
    background-color: var(--highlight-shade);
}
.mode-switch button:nth-child(2){
    transform: scaleX(1.1);
}