*{
    margin: 0;
    padding: 0;
}

:root{
    --main-shade:rgb(43, 43, 43);
    --highlight-shade:rgb(245, 199, 108);
    --text-color:white;
    --icon-color:black;
}

body{
    font-family: sans-serif;
    background-color: rgb(51, 48, 48);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* reusable styles */
button{
    background-color: var(--highlight-shade);
}
button i{
    font-size: 15px;
}
.completed span{
    text-decoration: line-through;
    color: red;
}
/*  */
.container{
    max-height: 50rem;
    margin-top: 3rem;
    width: 50%;
    background-color: var(--main-shade);
    padding: 2rem;
    border-radius: 10px;
    color: var(--text-color);
    overflow: hidden;
}
.container h1{
    margin: 1rem;
}
.entry-section{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}
.entry-section input ,button{
    padding: .5rem 1rem ;
    border: none;
    border-radius: 5px;
}
.entry-section input{
    flex: 2 1 auto;
}

/*  */
.list-section{
    max-height: 45rem;
    width: 100%;
    padding-right: 2rem;
    margin-top: 1rem;
    overflow: scroll;
}
.list-item{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}
.list-item p{
    margin: .5rem 1rem;
    flex: 2 1 auto;
    display: grid;
    grid-template-columns: 10% repeat(3,1fr);
}
.js-checkBox{
    cursor: pointer;
    accent-color: var(--highlight-shade);
}
.list-item button{
    transform: scaleX(1.03);
}
.js-checkBox{
    justify-self: start;
    width: 50%;
}